header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.match {
  margin-top: 5px;
  margin-bottom: 5px;
}

.match-team {
  padding: 10px;
  width: 100px;
  min-height: 120px;
}

.match-team p {
  font-size: 1.3rem;
  margin: 0;
}

.match-score p {
  margin: 0;
}

.match-score .score {
  font-size: 1.2rem;
}

.match-score .date {
  font-size: 0.9rem;
}

#league-season-form select {
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 0.9rem;
}

#league-form select {
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 1.5rem;
}

td p {
  margin: 0;
}

.name-row {
  display: flex;
  border-top-width: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#league-season-form {
  margin-bottom: 10px;
}

.black-border {
  border: 1px solid black;
}

.red-border {
  border: 1px solid red;
}

.legend {
  max-width: 200px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .small-max-width {
    max-width: 576px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .medium-max-width {
    max-width: 768px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .large-max-width {
    max-width: 992px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .xlarge-max-width {
    max-width: 1200px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .xxlarge-max-width {
    max-width: 1400px;
  }
 }